

{% extends 'index.html' %}


{% block content %}
<div>
    <div class="collum">
        {% for cupcake in cupcakes %}
        <div class = "spacearound">
            <h4>{{ cupcake["size"].capitalize() }}  </h4>
            <h3>{{ cupcake["name"].capitalize() }} Cupcake </h3>
            <h4>{{ cupcake["price"] }} </h4>
            <a href="{{ url_for('add_cupcake', name=cupcake['name']) }}">
                <button>Add to Cart</button>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}