<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Best Cupcakes</title>
</head>
<body>
    <header>
        <img src="../static/images/cupcake_header.png" alt="picture of cupcakes in a row">
            <ul></ul>
        <img src="../static/images/cupcake_header.png" alt="picture of cupcakes in a row">
    </header>
    <section>
        <a href="{{ url_for('cupcakes') }}"> cupcakes </a>
        <a href="{{ url_for('orders') }}"> orders </a>
    </section>
    <div>
        <h1>Best Cupcakes</h1>
    </div>

    {% block content %}


    {% endblock %}
</body>
</html>